
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Poppins:wght@400;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

body{
    max-width: 1320px;
    font-family: 'Poppins', sans-serif;
   
}

/* Logo */
#nav-logo{
    display: inline-block;

}
#logo{
    margin-left: -500px;
    font-family: 'Aclonica', sans-serif;
    text-transform: capitalize;
}

#logo-img{
    width: 0%;
    
}




/* MainNavBar */


.main-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.main-navbar nav{
    display: flex;
    align-items: center;
}

.main-navbar nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.main-navbar nav ul li{
    margin-right: 5rem;
}

.main-navbar nav ul li a{
   text-decoration: none;
   text-transform: uppercase;
   padding-left: 20px;
   color: red;
   font-size: 1.2rem;
   font-weight: 600;
}

.main-navbar nav ul li a:hover{
    color: #000;
    transition: 0.5s;
}

.main-navbar nav ul li a.active{
    border-bottom: 2px solid red;
    border-top: 2px solid red;
    color: red;
    padding: 1px;
    transition: 0.5s;
}

.main-navbar nav ul li a img .active{
    border-bottom: none;
    border-top: none;
    
}

/* Movie List */

.category-title{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    padding-right: 54rem;
    margin-bottom: -80px;
    color: red;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
}

.movie-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid rgb(255, 0, 0);
    
}
/* Movies NavBar */
.movies-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem; 
    margin-top: 10px; 
    list-style: none;
}

.movies-navbar nav ul li a{

   padding: 70px;
   text-decoration: none;
   text-transform: uppercase;
   color: red;
   font-size: 0.9rem;
   font-weight: 600;
}

.movies-navbar nav ul li a:hover{
    color: #000;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

/* Movie Card / TvShowsCard */

.movie-card{
    width: 150px;
    height: 225px;
    margin-bottom: 10px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.movie-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movie-card a:hover img{
    transform: scale(0.95);
    border-radius: 4px;
    transition: all 0.5s ease;
    cursor: pointer;
}

/* Dropdown */

.dropdown{
    margin-top: 10px;
}

label{
    margin: 10px;
    padding: 5px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
}

select{
    width: 15%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 2px;
    margin-left: 5px;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

/* Movie Item */

.movie-item{
    margin: 0 auto;
    background-image: url(https://images.unsplash.com/photo-1550684376-efcbd6e3f031?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 100%;
    height: 150%;
    margin-top: -130px;
    
}
.movie-item-poster{
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 100%;
    
}

.movie-item img{
    padding-left: 100px;
    padding-top: 150px;
    float: left;    
}

.movie-item-info{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-item-info h2{
    font-size: 3rem;
    margin-top: -300px;
    padding-left: 80px;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    margin-bottom: 10px;
   
}
.movie-description{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 100px;
    color: #fff;
    margin-bottom: 100px;
    
}
.movie-description p{
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    line-height: 2;
    line-break: auto;
}
#overview{
    width: 50%;
}

.movie-extra-info p{
    font-weight: 700;
    color: red;
    font-style: normal;
}

.likes{
    padding-top: 20px;
   display: flex; 
   justify-content: space-between;
   gap: 15px;
}
.likes p{
    font-weight: 400;
    font-size: 1.2rem;
    padding-bottom: 3px;
}

/* Likes */

#like-icon{
    font-size: 1.5rem;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    
}

/* Review */

.reviews{
    
    display: flex;
    flex-direction: column;
    padding: 25px 2px;
    width: 90%;
    background-color:rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
   
    
}

.reviews-input input{
    width: 60%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 2px;
    margin-left: 5px;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    text-transform: capitalize;    
}

#review-input{
    height: 100px;
}

.reviews button{
    background: red;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 0.8rem;
    padding: 5px 9px;
    margin-left: 550px;
    color: #000;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(255, 4, 4, 0.2);
}

#reviews-category-title{
    text-transform: uppercase;
    margin-bottom: -25px;
    padding-left: 8px;
}

.reviews-display{
    margin-top: 20px;
    width: 50%;
    border-top: 1px solid #fff;
}
.reviews-display div{
    border-top: 1px solid #fff;
}
.reviews-display div p{
    font-weight: 500;
    font-size: 12px;
    font-style: italic;
   
}
.reviews-display div p b{
    font-style: normal;
}
.reviews-display div quote {
    font-weight: 500;
    font-size: 15px;
    font-style: normal;
    text-transform: capitalize;
}
.reviews-display div cite{
    font-weight: 500;
    font-size: 10px;
}

